<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <div class = "title">
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>
    
    {% for post in posts %}
        <div class= "post-container">
            <h2><a href="./post/{{ post.pk }}">{{ post.title }}</a></h2>
            <p class = "published-date">Publicado em {{ post.published_date }}</p>
            <p class = "text">{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
</html>
